.header{
    
    background-image: url("../img/lovers-wallpapers.jpg");
    height: 650px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.6;
}
.header{
    font-family: Pavanam-Regular;
}
.header h1{
    font-size: 70px;
    font-family: ShadowsIntoLightTwo-Regular;
    text-shadow: 3px 3px 3px #000;
    
}

.header h3{
    font-family: Sacramento-Regular, cursive;
    font-size: 30px;
    text-shadow: 2px 2px 2px #000;
}
